
.vs/ConQuest/v17/.suo
*.vsidx
GameCon/.vs/GameCon/v17/.suo
GameCon/.vs/GameCon/v17/.suo
/Framework!SQL/.vs/Framework!SQL/FileContentIndex/read.lock
GameCon/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
GameCon/obj/Release/GameCon.csproj.AssemblyReference.cache
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/slnx.sqlite
.vs/slnx.sqlite
