################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.lock
.vs/ConQuest/v17/.suo
.vs/slnx.sqlite
*.sqlite
