################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.lock
.vs/ConQuest/v17/.suo
.vs/slnx.sqlite
*.sqlite
GameCon/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
*.cache
